@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Стили для полосы прокрутки */
::-webkit-scrollbar {
   width: 6px; /* Ширина полосы прокрутки */
 }
 
 /* Стили для трека прокрутки (области, по которой перемещается ползунок) */
 ::-webkit-scrollbar-track {
   background-color: transparent; /*Прозрачный цвет фона трека прокрутки*/
 }
 
 /* Стили для ползунка прокрутки */
 ::-webkit-scrollbar-thumb {
   background-color: #3a3a3a; /* Цвет ползунка прокрутки */
   border-radius: 3px; /* Скругление углов ползунка */
 }
 
 /* Опциональный стиль для ховера на ползунке прокрутки */
 ::-webkit-scrollbar-thumb:hover {
   background-color: #575757; /* Цвет ползунка при наведении */
 }
 

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
